
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-[Poppins];
        @apply dark:text-white; /* Text color for dark mode */
        @apply text-[#252422];
        @apply transition  /* Default text color for light mode */
      }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.light {
    background-image: linear-gradient(135deg, #fff8f2 10%, #e2d1c3 100%);
    transition: background-color 0.25s ease-in-out;
}



.dark {

  background-image: linear-gradient(135deg, #434343 10%, #000000 100%);;
  transition: background-color 0.25s ease-in-out;

}
.dark [name="about"] {
    background-image: linear-gradient(135deg, #956d61 10%, #d29d74 100%);
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
background-image: linear-gradient(
    to right,
    #eb5e28,
    #ff9770
)!important;
}

